/Array
/Calculadora Imc
/fakeStore
/FETCH
/manipulacaoDom
/Modo-Noturno
/POO
/Porjeto site cep
/ProgramcaoAssincrona
/Recursividade x Interatividade
/repeticao
/Site Sorteador
/Tela Login
/Tratamento de Excecoes